

html, body {
	margin: 0;
	padding: 0;

}
a {
	text-decoration: none;
	color: inherit;
}
* {
	box-sizing: border-box;
}
ul, ol {
	list-style-type: none;
	padding-left: 0;
}
/* --- FONTS --- */

@font-face {
	font-family: 'icomoon';
       src:url('../fonts/icomoon/icomoon.eot');
       src:url('../fonts/icomoon/icomoon.woff') format('woff'),
        url('../fonts/icomoon/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon/icomoon.svg') format('svg');
}

@font-face {
	font-family: 'aqua grotesque';
       src:url('../fonts/aqua-grotesque/aqua.eot');
       src:url('../fonts/aqua-grotesque/aqua.woff') format('woff'),
        url('../fonts/aqua-grotesque/aqua.ttf') format('truetype'),
        url('../fonts/aqua-grotesque/aqua.svg') format('svg');
}

@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway/regular/Raleway-Regular.eot');
    src: url('../fonts/raleway/regular/Raleway-Regular.woff') format('woff'),
    url('../fonts/raleway/regular/Raleway-Regular.ttf') format('truetype'),
    url('../fonts/raleway/regular/Raleway-Regular.svg') format('svg');
}
@font-face {
    font-family: 'raleway-light';
    src:url('../fonts/raleway/light/Raleway-ExtraLight.eot');
    src:url('../fonts/raleway/light/Raleway-ExtraLight.woff') format('woff'),
    url('../fonts/raleway/light/Raleway-ExtraLight.ttf') format('truetype'),
    url('../fonts/raleway/light/Raleway-ExtraLight.svg') format('svg');
}



/* --- KEYFRAMES --- */





/* ---------- HELPER CSS ---------- */

.visually-hidden {
	display: none;
}

.tab-nav--fix {
    position: fixed;
}


/* ------------------ HEADER ----------------- */


.home-page {
    height: 100vh;
    /*border: 15px rgba(255, 255, 255, 0.8) solid;*/
    background: linear-gradient(to bottom, #cc12e8 0%, #279bd1 100%);


}

.homenav {
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    align-items: center;
}
.homenav--logo {
    padding-left: 50px;
}
.logo-img {
    width: 55px;

}

.homenav--list {
    height: 44px;
    line-height: 46px;
    padding-right: 50px;
    text-align: right;
    flex-basis: 40%;
    display: flex;
    justify-content: space-around;
    font-family: 'aqua grotesque';
    color: white;
}

.list-item {
    text-align: center;
    width: 125px;
    position: relative;
    transition: background .3s ease;

}
.list-item:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 44px;
    bottom: 0;
    left: 5px;
    background: rgba(255, 255, 255, 0.75);
    transform: scaleY(0);
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
}
.list-item:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
.list-item:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 44px;
    bottom: 0;
    right: 5px;
    background: rgba(255, 255, 255, 0.75);
    transform: scaleY(0);
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
}
.list-item:hover:after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.list-item a {
    display: block;
    transition: all 0.5s ease;

}

.list-item:not(:first-child) {
    margin-left: 25px;
}
.list-item:hover {
    opacity: 1;
}
.homenav--list:hover .list-item:not(:hover) a {
    opacity: 0.75;
}



.home-headbox {
    width: 100%;
    margin-top: 25vh;
    text-align: center;
    position: relative;
    z-index: 1;
}
.home-headline {
    font-family: 'aqua grotesque';
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    cursor: default;
    font-size: 2.5em;
    color: white;
}
.home-headline-descr {
    display: block;
    margin-top: 15px;
    font-size: 1.7rem;

}
.arrow-header {
    width: 100%;
    margin-top: 33vh;
}
.scroll-img {
    width: 165px;
}
.home-img {
    width: 65%;
    position: absolute;
    z-index: 0;
    left: 15%;
    top:3%;
}







/* ----------- ABOUT HEADER ----------- */




/* ------------------ MAIN ------------------ */

#main {
    background: rgb(240, 240, 240);
    z-index: 2;
    position: absolute;
    box-shadow: 10px 10px 5px black;
}

/* ------- HOME MAIN ------ */

.menubar {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 7px;
    background: rgba(255, 255, 255, 0.96);
    position: fixed;
    top: 0;
    display: none;
    z-index: 9;
}
.menu-fill {
    flex-basis: 25%;
    text-align: center;
}
.menu-fill img {
    color: white;
    width: 55px;
    margin-left: 5em;
    transform: rotate(180deg);
}

.menubar-logo {
    flex-basis: 50%;
    text-align: center;
}
.nav-logo {
    width: 55px;
}

.nav-social {
    flex-basis: 25%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 24px;
}

.nav-instagram:before {
    content: '\ea92';
    font-family: 'icomoon';
}
.nav-behance:before {
    content: '\eaa8';
    font-family: 'icomoon';
}
.nav-soundcloud:before {
    content: '\eac3';
    font-family: 'icomoon';
}

.nav-social li {
    transition: transform .2s ease;
}
.nav-social li:not(:nth-child(1)) {
    margin-left: 2.5em;
}
.nav-social li:hover {
    transform: scale(1.25);
}




/* -------- TAB SECTIONS --------- */
.main-content {
    padding-top: 10em;
    max-width: 90%;
    margin: 0 auto;
}

.tab-section {
	width: 100%;
	text-align: center;
}

.tab-nav {
    padding-top: 15px;
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 1.5em;
}

.colorline {
	background: linear-gradient(135deg, rgba(204,18,232,1) 0%, rgba(39,155,209,1) 100%);
	width: 150px;
	height: 6px;

}
.tab-nav i {
	font-size: 25px;
	margin-left: 1.5em;
}
.section-heading {
	font-family: 'aqua grotesque';
	font-weight: 700;
	color: #8d47df;
	letter-spacing: 14px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	cursor: default;
	font-size: 3em;
}

.tab-section span {
	font-weight: 200;
	font-size: 1.3rem;
	font-style: italic;
	color: #5528B5;
}


/* TXT TAB */

.about-tab {

}

.about-tab-inner {
	margin: 0 auto;
	text-align: right;
	margin-top: 2.5em;
	line-height: 17px;
	font-size: 16px;
	max-width: 55%;
	font-family: 'quicksand';
	color: black;

}


/* ------ WORK-TAB ------- */

.worktab {
	margin-top: 11em;
}

.worktab-inner {
	margin-top: 5em;
	width: 100%;
	font-family: 'raleway-light';
	font-weight: 200;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.work-item {
    margin: 0;
    padding: 0;
    flex-basis: 30%;
    margin-bottom: 100px;
}

.work-item:hover .item-title {
    transform: scale(1.1);
}

.item-title {
    display: block;
    font-size: 14px;
    transition: transform .2s ease;

}
.item-img {
    width: 75%;
}



/* ------ CONTACT-TAB ------- */

.contact-tab {
	margin-top: 15em;
    padding-bottom: 5em;
}

.contact-tab-text {
    margin: 0 auto;
    text-align: left;
    margin-top: 2.5em;
    line-height: 24px;
    font-size: 17px;
    max-width: 65%;
    font-family: 'raleway-light';
    color: black;
}
.contact-tab-mail {
	font-family: 'raleway-light';
	margin: 0 auto;
    margin-top: 50px;
}

.contact-tab-inner a {
	color: black;
	transition: .2s ease;
}
.contact-tab-mail a:hover {
	font-size: 1.2em;
	transition: .2s ease;
}

/* ---------- ME MAIN ----------- */





/* -------- FOOTER -------- */

